<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontlab.v2.tth</key>
	<dict>
		<key>stems</key>
		<dict>
			<key>X: 109</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>26</key>
					<integer>3</integer>
					<key>37</key>
					<integer>4</integer>
					<key>45</key>
					<integer>5</integer>
					<key>51</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>223</integer>
			</dict>
			<key>X: 141</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>75</key>
					<integer>5</integer>
					<key>80</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>141</integer>
			</dict>
			<key>X: 162</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>70</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>162</integer>
			</dict>
			<key>X: 175</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>26</key>
					<integer>3</integer>
					<key>37</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>65</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>175</integer>
			</dict>
			<key>X: 188</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>26</key>
					<integer>3</integer>
					<key>37</key>
					<integer>4</integer>
					<key>45</key>
					<integer>5</integer>
					<key>60</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>188</integer>
			</dict>
			<key>X: 60</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>33</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>63</key>
					<integer>4</integer>
					<key>75</key>
					<integer>5</integer>
					<key>92</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>123</integer>
			</dict>
			<key>X: 70</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>79</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>143</integer>
			</dict>
			<key>X: 75</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>74</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>154</integer>
			</dict>
			<key>X: 80</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>69</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>164</integer>
			</dict>
			<key>X: 83</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>47</key>
					<integer>4</integer>
					<key>58</key>
					<integer>5</integer>
					<key>67</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>170</integer>
			</dict>
			<key>Y: 106</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>107</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>46</key>
					<integer>3</integer>
					<key>63</key>
					<integer>4</integer>
					<key>98</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>106</integer>
			</dict>
			<key>Y: 109</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>18</key>
					<integer>2</integer>
					<key>26</key>
					<integer>3</integer>
					<key>37</key>
					<integer>4</integer>
					<key>45</key>
					<integer>5</integer>
					<key>51</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>223</integer>
			</dict>
			<key>Y: 120</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>33</key>
					<integer>2</integer>
					<key>46</key>
					<integer>3</integer>
					<key>63</key>
					<integer>4</integer>
					<key>75</key>
					<integer>5</integer>
					<key>94</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>120</integer>
			</dict>
			<key>Y: 35</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>100</key>
					<integer>4</integer>
					<key>119</key>
					<integer>5</integer>
					<key>158</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
				</dict>
				<key>width</key>
				<integer>72</integer>
			</dict>
			<key>Y: 40</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>138</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
					<key>81</key>
					<integer>4</integer>
					<key>98</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>82</integer>
			</dict>
			<key>Y: 45</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>123</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
					<key>81</key>
					<integer>4</integer>
					<key>98</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>92</integer>
			</dict>
			<key>Y: 50</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>110</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
					<key>81</key>
					<integer>4</integer>
					<key>98</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>102</integer>
			</dict>
			<key>Y: 55</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>100</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
					<key>63</key>
					<integer>4</integer>
					<key>75</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>113</integer>
			</dict>
			<key>Y: 85</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>119</key>
					<integer>5</integer>
					<key>133</key>
					<integer>6</integer>
					<key>33</key>
					<integer>2</integer>
					<key>59</key>
					<integer>3</integer>
					<key>81</key>
					<integer>4</integer>
				</dict>
				<key>width</key>
				<integer>85</integer>
			</dict>
		</dict>
		<key>zones</key>
		<dict>
			<key>b: 0</key>
			<dict>
				<key>position</key>
				<integer>0</integer>
				<key>top</key>
				<false/>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<key>b: 1</key>
			<dict>
				<key>position</key>
				<integer>-512</integer>
				<key>top</key>
				<false/>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<key>t: 0</key>
			<dict>
				<key>position</key>
				<integer>860</integer>
				<key>top</key>
				<true/>
				<key>width</key>
				<integer>20</integer>
			</dict>
			<key>t: 1</key>
			<dict>
				<key>position</key>
				<integer>1311</integer>
				<key>top</key>
				<true/>
				<key>width</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>ÑÝ/Ydieresis/abreve/Nacute/Ncaron/Tcaron/amacron/hcircumflex/Kcommaaccent/Ncommaaccent/Ycircumflex/Ygrave/gcommaaccent</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>TTFStems</string>
			<key>value</key>
			<array>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 60</string>
					<key>width</key>
					<real>123.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 141</string>
					<key>width</key>
					<real>141.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 70</string>
					<key>width</key>
					<real>143.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 75</string>
					<key>width</key>
					<real>154.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 162</string>
					<key>width</key>
					<real>162.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 80</string>
					<key>width</key>
					<real>164.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 83</string>
					<key>width</key>
					<real>170.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 175</string>
					<key>width</key>
					<real>175.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 188</string>
					<key>width</key>
					<real>188.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 109</string>
					<key>width</key>
					<real>223.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 35</string>
					<key>width</key>
					<real>72.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 40</string>
					<key>width</key>
					<real>82.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 85</string>
					<key>width</key>
					<real>85.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 45</string>
					<key>width</key>
					<real>92.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 50</string>
					<key>width</key>
					<real>102.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 106</string>
					<key>width</key>
					<real>106.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 55</string>
					<key>width</key>
					<real>113.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 120</string>
					<key>width</key>
					<real>120.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 109</string>
					<key>width</key>
					<real>223.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>TTFZones</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>t: 1</string>
					<key>position</key>
					<integer>1311</integer>
					<key>size</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>t: 0</string>
					<key>position</key>
					<integer>860</integer>
					<key>size</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>b: 0</string>
					<key>position</key>
					<integer>0</integer>
					<key>size</key>
					<integer>-20</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>b: 1</string>
					<key>position</key>
					<integer>-512</integer>
					<key>size</key>
					<integer>-20</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>-10.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>40.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>349.6</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>168.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>-260.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>5.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>680.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>-66.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1013.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>877.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>-486.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>404.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>196.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>Bdotaccent</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotaccent</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>Fdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotaccent</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Pdotaccent</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>bdotaccent</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>fdotaccent</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>pdotaccent</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>nbspace</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>logicalnot</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>integral</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>micro</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>lozenge</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>commaaccentcomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>commaaccentcomb.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>grave.cap</string>
		<string>acute.cap</string>
		<string>hungarumlaut.cap</string>
		<string>circumflex.cap</string>
		<string>caron.cap</string>
		<string>breve.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>macron.cap</string>
		<string>cedilla.cap</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0003</string>
		<string>uni0004</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0009</string>
		<string>uni0010</string>
		<string>uni0011</string>
		<string>uni0012</string>
		<string>uni0013</string>
		<string>uni0014</string>
		<string>uni0015</string>
		<string>uni0016</string>
		<string>uni0017</string>
		<string>uni0018</string>
		<string>uni0019</string>
		<string>caronvertical</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Bdotaccent</key>
		<string>uni1E02</string>
		<key>Ddotaccent</key>
		<string>uni1E0A</string>
		<key>Delta</key>
		<string>uni0394</string>
		<key>Fdotaccent</key>
		<string>uni1E1E</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Mdotaccent</key>
		<string>uni1E40</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Omega</key>
		<string>uni03A9</string>
		<key>Pdotaccent</key>
		<string>uni1E56</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Sdotaccent</key>
		<string>uni1E60</string>
		<key>Tcommaaccent</key>
		<string>uni021A</string>
		<key>Tdotaccent</key>
		<string>uni1E6A</string>
		<key>bdotaccent</key>
		<string>uni1E03</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>commaaccentcomb.cap</key>
		<string>uni0326.cap</string>
		<key>ddotaccent</key>
		<string>uni1E0B</string>
		<key>euro</key>
		<string>Euro</string>
		<key>fdotaccent</key>
		<string>uni1E1F</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>mdotaccent</key>
		<string>uni1E41</string>
		<key>micro</key>
		<string>uni00B5</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>pdotaccent</key>
		<string>uni1E57</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>sdotaccent</key>
		<string>uni1E61</string>
		<key>softhyphen</key>
		<string>uni00AD</string>
		<key>tcommaaccent</key>
		<string>uni021B</string>
		<key>tdotaccent</key>
		<string>uni1E6B</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
	</dict>
</dict>
</plist>
